:root {
    color-scheme: light dark;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p,
i {
    color: var(--text-color);
}

.text-dark--me {
    color: var(--text-color);
}

li {
    color: var(--text-color);
}

div {
    color: var(--text-color);
}
