:root {
    --text-color: #fff;
    --body-bg: #020709;

    --link-img-main-border: #dddddd77;
    --link-color: #6fa8fc;
    --link-underline: #6fa8fc77;
    --link-underline-hover: #6fa8fc;

    --row-projects-bg: #02070922;
}
