:root {
    --text-color: #000;
    --body-bg: #fff;

    --link-img-main-border: #12312377;
    --link-color: #3380f1;
    --link-underline: #3380f177;
    --link-underline-hover: #3380f1;

    --row-projects-bg: #ffffff99;
}
