@font-face {
    font-family: NotoSans;
    font-display: swap;
    font-weight: 400;
    src:
        url('/fonts/NotoSans.woff') format("woff"),
        url('/fonts/NotoSans.woff2') format("woff2");
}

@font-face {
    font-family: Concrete;
    font-display: swap;
    font-weight: 400;
    src:
        url('/fonts/Concrete.woff') format("woff"),
        url('/fonts/Concrete.woff2') format("woff2");
}

* {
    font-family: NotoSans !important;
}

* nobr {
    font-family: NotoSans !important;
}

.h-font nobr {
    font-family: Concrete !important;
}

.h-font {
    font-family: Concrete !important;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6
{
    font-family: Concrete !important;
}

@media(max-width: 365px) {
    h1, .h1 {
        font-size: 2.5rem !important;
    }

    h2,
    .h2 {
        font-size: 2.3rem !important;
    }
}
