.icon {
    color: var(--text-color);
    fill: var(--text-color);
}

.icon--more-rotate-top
{
    transition: .5s;
    transform: rotate(180deg);
}

.icon--more-rotate-bottom {
    transition: .5s;
    transform: rotate(0deg);
}
