/* img {
    content-visibility: auto;
} */

.img {
    border-radius: 12px;
    box-shadow: 0 5px 15px -10px rgb(0 0 0 / 15%);
}

.pointer {
    cursor: pointer;
}

img .no-shadow {
    filter: 0;
}

.my-shadow {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.my-border {
    border-radius: 16px;
}

.underline-2{
    border-bottom: 4px dashed #000000;
    transition: .4s;
}

p:hover .underline-2 {
    border-bottom: 4px dashed #959595;
}

/* Start */

@media (max-width: 991px) {
    .start-img {
        margin-right: auto !important;
        margin-left: auto !important;
    }
}

@media (min-width: 992px) {
    .start-img {
        margin-left: auto !important;
    }
}

@media (min-width: 992px) {
    .main-page {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

@media (max-width: 991px) {
    .main-page {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

/* Diploms */
.img-di {
    max-height: 800px;
}

.img-di-2 {
    max-height: 430px;
}

.d-text
{
    font-size: 3.5rem;
}

@media(max-width: 900px) {
    .d-text {
        font-size: 2.2rem;
    }
}

/* Project */

.col-project-gradient {
    background-image:
        linear-gradient(180deg,var(--bg-gradient-1),var(--bg-gradient-2) 85%),radial-gradient(ellipse at top left,
        rgba(255,228,132,.5),transparent 50%),radial-gradient(ellipse at top right,rgba(13,110,253,.5),transparent 50%),
        radial-gradient(ellipse at center right,rgba(214,51,132,.5),transparent 50%),radial-gradient(ellipse at center left,
        rgba(112,44,249,.5),transparent 50%) !important;
}

.col-project
{
    display: flex;
    min-height: 200px;
    flex-direction: column;
    word-break: break-word !important;

    border-radius: 16px;
    border: .1rem solid var(--project-border);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(var(--bg-color-rbg), 0.2);

    padding: 20px;
    border-radius: 16px;
    margin-bottom: 30px;

    transition: .2s;
}

.col-project:hover {
    background: rgba(var(--bg-color-rbg), .5);
    box-shadow: 0 4px 15px var(--project-shadow);
}

.col-project p {
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 30px;
    text-decoration: none;
}

.col-project:hover p {
    text-underline-offset: .5rem;
    text-decoration: underline !important;
    text-decoration-thickness: .05rem !important;
    text-decoration-color: var(--ol-marker) !important;
}

.col-project div.d-flex {
    flex-wrap: wrap;
}

.col-project div.d-flex span
{
    font-size: 14px;
    padding: 4px 16px;
    margin-right: 4px;
    margin-bottom: 6px;
    border-radius: 20px;
    color: var(--ol-marker);
    border: .1rem solid var(--project-mark-border);
    border-color: var(--project-mark-border) !important;
}

.col-project div.d-flex .ms-auto svg {
    width: 32px;
    height: 32px;
    stroke: var(--text-color) !important;
    opacity: 0;
    transition: .2s;
}

.col-project:hover div.d-flex .ms-auto svg {
    opacity: 1;
}

.col-project div.mt-auto {
    font-size: 14px;
    max-width: 300px;
    line-height: 180%;
    color: var(--ol-marker);
}

@media(max-width: 300px) {
    .col-project p {
        font-size: 24px !important;
    }
}
