.fancybox__nav svg {
    stroke: white !important;
}

.fancybox__counter {
    color: white !important;
}

.fancybox__toolbar__items.fancybox__toolbar__items--right svg {
    stroke: white !important;
}
