@font-face {
    font-family: NotoSans;
    font-display: swap;
    font-weight: 400;
    src:
        url('/fonts/NotoSans.woff') format("woff"),
        url('/fonts/NotoSans.woff2') format("woff2");
}

@font-face {
    font-family: Cakra;
    font-display: swap;
    font-weight: 400;
    src:
        url('/fonts/Cakra.woff') format("woff"),
        url('/fonts/Cakra.woff2') format("woff2");
}

* {
    font-family: NotoSans !important;
}

* nobr {
    font-family: NotoSans !important;
}

.h-font nobr {
    font-family: Cakra !important;
}

.h-font {
    font-family: Cakra !important;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6
{
    font-family: Cakra !important;
}
