/* IMAGE */

.item--img-top
{
    border-radius: 12px 12px 0px 0px;
}

.item--img-bottom {
    border-radius: 0 0 12px 12px;
}

.item--img-left
{
    border-radius: 0px 0px 0px 12px;
}

.item--img-once  {
    border-radius: 12px;
}

.item--img-right {
    border-radius: 0px 0px 12px 0px;
}

.item--img-left-once {
    border-radius: 12px 0px 0px 12px;
}

.item--img-right-once {
    border-radius: 0px 12px 12px 0px;
}

@media(max-width: 575px) {
    .item--img-left {
        border-radius: 0px !important;
    }

    .item--img-right {
        border-radius: 0px 0px 12px 12px;
    }

    .item--img-left-once {
        border-radius: 12px 12px 0px 0px;
    }

    .item--img-right-once {
        border-radius: 0px 0px 12px 12px;
    }
}

/* BLOCK */

.item--block
{
    margin-bottom: 150px;
}

.item--block-top {
    margin-bottom: 60px;
}

.item--block-link {
    margin-bottom: 100px;
}

/* HEAD */

.item--head
{
    padding: 0;
    margin: 0;
    margin-bottom: -10px;
}

/* DESC */

.item--desc
{
    margin: 0;
    padding: 0;

    margin-bottom: 20px;
}
