/* Logo */
.logo{
    font-family: PhonkSans-Light;
}

.logo--main{
    color: #000!important;
}

.logo--id{
    color: #e24fd0!important;
}

.logo--with{
    color: #4ca4ff!important;
}

.logo--blog{
    color: #979797!important;
}

.logo--submain{
    font-family: Ubuntu-Light;
}

/* PC and Mobile */
@media (min-width: 992px) {
	.header__mobile {
		display: none!important;
	}
}

@media (max-width: 991px) {
	.header__pc {
		display: none!important;
	}
}

/* My */
.victory-day {
	background: linear-gradient(to left,
	#f38102 10%, #000000 10% 20%, #f38102 20% 30%, #000000 30% 40%,
	#f38102 40% 50%, #000000 50% 60%, #f38102 60% 70%, #000000 70% 80%,
	#f38102 80% 90%, #000000 90% 100% );
}

.new-year{
	background: url("/img/svg/other/backgrounds/bc-new-year.svg") no-repeat top left;
	background-size: cover;
}

/* Text */
.text-shadow{
	text-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important
}

.icon-game {
	border-radius: 20px;
}

/* Links */
.underline{
	text-decoration: none;
}

.underline:hover{
	text-decoration: underline;
}