.img {
    border-radius: 16px;

    /* background: linear-gradient(360deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 41.97%); */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.pointer {
    cursor: pointer;
}

img .no-shadow {
    filter: 0;
}

.my-shadow {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.my-border {
    border-radius: 16px;
}

.underline-2{
    border-bottom: 4px dashed #000000;
    transition: .4s;
}

p:hover .underline-2 {
    border-bottom: 4px dashed #959595;
}

/* Start */

@media (max-width: 991px) {
    .start-img {
        margin-right: auto !important;
        margin-left: auto !important;
    }
}

@media (min-width: 992px) {
    .start-img {
        margin-left: auto !important;
    }
}

@media (min-width: 992px) {
    .main-page {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

@media (max-width: 991px) {
    .main-page {
        padding-top: 50px;
        padding-bottom: 50px;
    }   
}

/* Diploms */
.img-di {
    max-height: 800px;
}

.img-di-2 {
    max-height: 430px;
}

/* Creagoo */
.px-creagoo {
    max-width: 900px;
    margin: auto;
}